In [11]:
import pandas as pd

In [14]:
df = pd.read_csv("ocorrencia_2010_2020_modificada.csv", sep=",", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head(5)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [16]:
df.loc[1, 'ocorrencia_cidade']

'BELÉM'

In [17]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [18]:
df.loc[[10, 40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [21]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5734         MANOEL URBANO
5735              CAMPINAS
5736     LAGOA DA CONFUSÃO
5737        RIO DE JANEIRO
5738             VICENTINA
Name: ocorrencia_cidade, Length: 5739, dtype: object

In [22]:
df.codigo_ocorrencia.is_unique

True

In [25]:
df.set_index('codigo_ocorrencia', inplace=True)

In [26]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,
40211,40211,INCIDENTE,RJ,****,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0

In [27]:
df.loc[40324]

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-01-05 00:00:00
ocorrencia_hora                        19:25:00
total_recomendacoes                           0
Name: 40324, dtype: object

In [28]:
df.reset_index(drop=True, inplace=True)

In [29]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,****,2010-01-03,12:00:00,0
1,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0

In [30]:
df.loc[0, 'ocorrencia_aerodromo'] = ''

In [31]:
df.head(1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,,2010-01-03,12:00:00,0

In [32]:
df.loc[1] = 20

In [33]:
df.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,,2010-01-03 00:00:00,12:00:00,0
1,20,20,20,20,20,20,20

In [34]:
df.loc[:, 'total_recomendacoes'] = 10

In [35]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,,2010-01-03 00:00:00,12:00:00,10
1,20,20,20,20,20,20,10
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10
3,39527,ACIDENTE,MT,****,2010-01-04 00:00:00,17:30:00,10
4,40324,INCIDENTE,RS,SBPK,2010-01-05 00:00:00,19:25:00,10

In [36]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [37]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
...,...,...,...,...,...,...,...,...
5734,79769,INCIDENTE GRAVE,AC,SIMB,2020-12-29 00:00:00,18:30:00,10,AC
5735,79804,INCIDENTE,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP
5736,79757,INCIDENTE GRAVE,TO,****,2020-12-30 00:00:00,18:30:00,10,TO
5737,79802,INCIDENTE,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,RJ
5738,79756,INCIDENTE GRAVE,MS,****,2020-12-31 00:00:00,09:00:00,10,MS

In [38]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']]

     ocorrencia_classificacao
11                   ACIDENTE
16                  INCIDENTE
18                  INCIDENTE
26                  INCIDENTE
27                  INCIDENTE
...                       ...
5693          INCIDENTE GRAVE
5694          INCIDENTE GRAVE
5704          INCIDENTE GRAVE
5730                INCIDENTE
5735                INCIDENTE

[1371 rows x 1 columns]

In [39]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
...,...,...,...,...,...,...,...,...
5734,79769,INCIDENTE GRAVE,AC,SIMB,2020-12-29 00:00:00,18:30:00,10,AC
5735,79804,INCIDENTE,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP
5736,79757,INCIDENTE GRAVE,TO,****,2020-12-30 00:00:00,18:30:00,10,TO
5737,79802,INCIDENTE,RJ,SBGL,2020-12-30 00:00:00,00:54:00,10,RJ
5738,79756,INCIDENTE GRAVE,MS,****,2020-12-31 00:00:00,09:00:00,10,MS

In [44]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
11,40069,ACIDENTE,SP,SBMT,2010-01-10 00:00:00,14:50:00,10,SP
16,39809,INCIDENTE,SP,****,2010-01-15 00:00:00,15:00:00,10,SP
18,39828,INCIDENTE,SP,****,2010-01-15 00:00:00,17:45:00,10,SP
26,39847,INCIDENTE,SP,****,2010-01-20 00:00:00,13:10:00,10,SP
27,39768,INCIDENTE,SP,****,2010-01-21 00:00:00,20:45:00,10,SP
...,...,...,...,...,...,...,...,...
5693,79739,INCIDENTE GRAVE,SP,SBSP,2020-12-03 00:00:00,14:42:00,10,SP
5694,79705,INCIDENTE GRAVE,SP,SDCO,2020-12-04 00:00:00,15:30:00,10,SP
5704,79718,INCIDENTE GRAVE,SP,SBMT,2020-12-11 00:00:00,13:50:00,10,SP
5730,79800,INCIDENTE,SP,SBMT,2020-12-28 00:00:00,10:15:00,10,SP
5735,79804,INCIDENTE,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP

In [46]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS